{% extends 'hod_templates/base_template.html' %}
{% block main_content %}

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-20">
            <h2 class="h3 mb-0">Home</h2>
        </div>
        <div class="row pb-10">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20" style="text-align: center;">
                <div class="card-box height-95-p widget-style2">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">{{ student_count }}</div>
                            <div class="font-14 text-secondary weight-700">
                                Student Count
                            </div>
                        </div>
                </div>
            </div>
<div class="col-xl-3 col-lg-3 col-md-6 mb-20" style="text-align: center;">
                <div class="card-box height-95-p widget-style2">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">{{ staff_count }}</div>
                            <div class="font-14 text-secondary weight-700">
                                Staff Count
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20" style="text-align: center;">
                <div class="card-box height-95-p widget-style2">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">{{ subject_count }}</div>
                            <div class="font-14 text-secondary weight-700">
                                Subject Count
                            </div>
                        </div> 
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20" style="text-align: center;">
                <div class="card-box height-95-p widget-style2">
                        <div class="widget-data" >
                            <div class="weight-700 font-24 text-dark">{{ total_lectures }}</div>
                            <div class="font-14 text-secondary weight-700">Total Lectures Happened</div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h3 mb-0">Student Attendance Data</h2>
              <div class="card-box height-350-p">
                <div class="card-body">
                  <div id="barChart2"></div>
                </div>
              </div>
            </div>                        
          </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>

{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function() {
      var attendance_present_list_student = {{ attendance_present_list_student }};
      var attendance_absent_list_student = {{ attendance_absent_list_student }};
      var student_name_list = {{ student_name_list|safe }};
      
      var options = {
        chart: {
          height: 400,
          type: 'bar',
          stacked: true,
          toolbar: {
            show: true,
            tools: {
              download: true,
              selection: true,
              zoom: true,
              zoomin: true,
              zoomout: true,
              pan: true
            }
          }
        },
        plotOptions: {
          bar: {
            horizontal: false,
          },
        },
        series: [{
          name: 'Present',
          data: attendance_present_list_student
        }, {
          name: 'Absent',
          data: attendance_absent_list_student
        }],
        xaxis: {
          categories: student_name_list,
          title: {
            text: 'Students'
          }
        },
        yaxis: {
          title: {
            text: 'Attendance'
          },
          min: 0
        },
        legend: {
          position: 'bottom',
          horizontalAlign: 'center',
          offsetX: 40
        }
      };
  
      var chart = new ApexCharts(document.querySelector("#barChart2"), options);
      chart.render();
    });
  </script>
  
{% endblock custom_js %}


