{% extends 'hod_templates/base_template.html' %}

{% block main_content %}
<div class="main-container">
		<div class="pd-20 card-box mb-30">
			<div class="clearfix">
				<div class="pull-left">
					<h3 class="text-blue h4">Manage Subject</h3>
					<br>
				</div>
			</div>
		<div class="pb-20">
			<table class="data-table table stripe hover nowrap">
				<thead>
					<tr>
					    <th>ID</th>
                      <th>Subject Name</th>
                      <th>Course Name</th>
                      <th>Course ID</th>
                      <th>Staff Name</th>
                      <th>Action</th>
					  </tr>
				</thead>
          <tbody>
              {% for subject in subjects %}
                <tr>
                  <td>{{ subject.id }}</td>
                  <td>{{ subject.subject_name }}</td>
                  <td>{{ subject.course.course_name }}</td>
                  <td>{{ subject.course.id }}</td>
                  <td>{{ subject.staff.first_name }} {{ subject.staff_id.last_name }}</td>
                  <td><a href="/edit_subject/{{ subject.id }}" class="btn btn-success">Edit</a>
                  <a href="/delete_subject/{{ subject.id }}" class="btn btn-danger">Delete</a></td>
                </tr>
              {% endfor %}
              </tbody>
			</table>
      <div class="form-group">
				{% if messages %}
				  {% for message in messages %}
				  {% if message.tags == 'error' %}
				  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
				  {% endif %}
				  {% if message.tags == 'success' %}
				  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
				  {% endif %}
				  {% endfor %}
				{% endif %}
			  </div>
		</div>
	</div>


</div>


<div class="mobile-menu-overlay"></div>

{% endblock main_content %}