{% load static %}
<div class="left-side-bar" style="background: #031e23;">
    <div class="sidebar-menu">
        <ul id="accordion-menu">
            <div class="brand-logo">
                <a href="/student_home">
                    <img src="{% static "vendors/images/index.jpeg" alt="" %}"/>
                </a>
                <div class="close-sidebar" data-toggle="left-sidebar-close">
                    <i class="ion-close-round"></i>
                </div>
            </div>
            <li class="dropdown">
                <a href="/student_home" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-house"></span
                    ><span class="mtext">Home</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="/mark_attendance" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-upc-scan"></span>
                    <span class="mtext">Mark Attendance</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="/student_view_attendance" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-calendar4-week"></span
                    ><span class="mtext">View Attendance</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="/student_give_feedback" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-hand-thumbs-up"></span
                    ><span class="mtext">Feeedback</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="/student_apply_leave" class="dropdown-toggle no-arrow">
                    <span class="micon bi bi-envelope-open"></span
                    ><span class="mtext">Apply for Leave</span>
                </a>
            </li>
        </ul>
    </div>
</div>
